@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* variables */
:root {
  /* Colors */
  --primary-color: #ffcd42;
  --secondary-color: #ffd35c;
  --bg-primary: #ffffff;
  --text-color: #222222;
  --text-color-two: #ffffff;
  --bg-secondary: #000000;
  --card-background: #f4f4f4;
  --bg-secondary-two: #111111;

  --shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  /* Font Weight */
  --weight-small: 400;
  --weight-semibold: 600;
  --weight-bold: 800;

  /* Max width */
  --width-small: 600px;
  --width-medium: 1100px;
  --width-large: 1300px;
}

[data-theme="dark"] {
  --primary-color: #ffcd42;
  --secondary-color: #ffd35c;
  --bg-primary: #000000;
  --text-color: #ffffff;
  --text-color-two: #222222;
  --bg-secondary: #ffffff;
  --card-background: #111111;
  --bg-secondary-two: #f4f4f4;
  --shadow: 0 2px 10px rgba(95, 95, 95, 0.2);
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

/* Reset default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* Main styling */
body {
  background: var(--bg-primary);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background: var(--bg-primary);
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  height: 80px;
  width: 100%;
}

.navbar .nav-menu {
  display: flex;
  align-items: center;
  background: var(--bg-primary);
}

.navbar .nav-link {
  margin: 0 1rem;
  font-size: 0.8rem;
  font-weight: var(--weight-semibold);
}

.navbar #logo img {
  display: block;
  width: 120px;
}

.navbar .btn {
  margin-right: 1.5rem;
}

.fas.fa-arrow-right {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

/* hamburger */
.hamburger {
  margin-bottom: 0.1rem;
  display: none;
}

.bar {
  display: block;
  width: 23px;
  height: 3px;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  background-color: var(--bg-secondary);
}

/* Hero section */
#hero {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-image {
  width: 150px;
  border-radius: 50%;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-10px);
  }
}

.division {
  width: 100%;
  height: 2px;
  background-color: var(--card-background);
  margin: 5.5rem 0;
}

/* Projects */
#projects {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 5rem;
  margin-top: -5rem;
}

#projects .btn {
  align-self: center;
  margin: 2rem 0;
}

.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 0.9rem;
}

.card .project-bio p {
  font-size: 0.83rem;
}

.card .project-bio h3 {
  font-size: 0.9rem;
}

.project-info {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  position: relative;
  transition: 0.5s ease-in-out;
}
.project-bio {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  top: 160px;
  left: 10px;
}

@media (max-width: 768px) {
  .project-bio {
    bottom: 80%;
    left: 0%;
  }

  .project-bio h3
  {
    text-align: left;
    margin-bottom: -0.3rem;
  }
  
  .project-info {
    opacity: 1;
    transition: none;
  }
  
  .project {
    grid-template-columns: 1fr; /* Display projects in a single column */
    grid-auto-rows: minmax(300px, auto); /* Adjust the row height as needed */
  }
  
  .card {
    height: auto; /* Allow card height to expand with project content */
  }
}

/* Footer */
#footer {
  background: #111111;
}

#footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  min-height: 30px;
  text-align: center;
}

#footer a {
  font-size: 0.8rem;
  color: #fff;
}

#footer a:hover {
  opacity: 0.6;
}

#footer .social {
  margin: 0.9rem 0;
}

#footer .social img {
  width: 20px;
  height: 20px;
}

#footer .social a {
  margin: 0 0.5rem;
}

#footer p {
  font-size: 0.8rem;
}

/* Responsiveness */

@media (max-width: 1000px) {
  .project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {}

@media (max-width: 670px) {
  .navbar .nav-menu {
    position: fixed;
    right: -100vw;
    top: 4.5rem;
    flex-direction: column;
    width: calc(80% - 10px);
    transition: 0.3s;
    box-shadow: var(--shadow);
    padding: 2rem;
    border-radius: 5px;
    align-items: flex-start;
  }

  .navbar .btn {
    margin: 0;
    margin-top: 1rem;
  }

  .nav-menu.active {
    right: 20px;
  }

  .nav-menu .nav-link {
    font-size: 0.9rem;
    margin: 0 0.2rem;
  }

  .nav-menu li {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .nav-menu .btn {
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
  }

  .hamburger.active {
    border: 1px dotted gray;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 600px) {
  .project {
    display: grid;
    grid-template-columns: 1fr;
  }

  .header-container .btn {
    border-radius: 5px;
    width: 80%;
  }
}

/*updates*/

.typing-animation {
  display: inline-block;
  color: #000000;
  /* Replace with your desired color for the typing animation */
  animation: typing 4s steps(20) infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid;
  width: 14ch;
  /* Adjust the width to fit your content */
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 14ch;
    /* Adjust the width to fit your content */
  }
}

#about {
  padding: 5rem 0 0;
  margin-bottom: 2rem;
}

#about .container {
  max-width: var(--width-medium);
  margin: 0 auto;
  padding: 0 1rem;
}

#about h2 {
  font-size: 2rem;
  font-weight: var(--weight-bold);
  margin-bottom: 2rem;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.about-content p {
  flex: 1;
}

.about-content .profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  #about h2
  {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  
}

@media screen and (max-width: 600px)
{
  .about-content
  {
    flex-direction:column;
    text-align: justify;
  }
}
/* skills */


#skills {
  text-align: right;
  font-family: "Raleway", sans-serif;
}

#skills .container {
  max-width: var(--width-medium);
  margin: 0 auto;
  padding: 0 1rem;
}

#skills h2 {
  font-size: 2rem;
  font-weight: var(--weight-bold);
  margin-bottom: 2rem;
  text-align: right;
}

.skill-icons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.skill-icon {
  margin: 0.5rem;
}

.skill-icon img {
  width: 50px;
  height: 50px;
}

.skills-section {
  padding-top: 20px;
}

.skills-header {
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
}

.skills-header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background-color: #2ecc71;
  border-radius: 2px;
}

.skills-container {
  display: grid;
  grid-tempLate-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skills-box {
  padding: 1rem;
  color: var(--text-color);
  cursor: pointer;
}


.skills-box:hover .skills-img {
  transform: translateX(-20px);
}

.skills-title {
  display: flex;
  font-family: "Raleway", sans-serif;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skills-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  rigth: 50%;
  width: 20px;
  height: 4px;
  transition: .5s;
}

.skills-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 4px;
}

.skills-icons {
  width: 50px;
  z-index: 2;
}

.skills-img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.skills-img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;
}

.skills-title h3 {
  font-family: "Raleway", sans-serif;
  color: #333;
  margin-top: 0.5rem;
}

@media screen and (max-width: 990px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
  #skills h2,h3{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
  #skills h2,h3{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 991px) {
  .skills-container {
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 80px;
  }
}

.scroll-button {
  background-color: var(--bg-secondary);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  opacity: 1;
}

.scroll-button:hover {
  background-color: #ffcd42;
  transform: translateY(-5px);
}

.arrow-down {
  display: block;
  width: 15px;
  height: 15px;
  border: solid var(--bg-primary);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  .scroll-button {
    width: 25px;
    height: 25px;
    bottom: 15px;
    right: 15px;
  }
  
  .arrow-down {
    width: 12px;
    height: 12px;
    border-width: 0 2px 2px 0;
  }
}

@media (max-width: 480px) {
  .scroll-button {
    width: 20px;
    height: 20px;
    bottom: 10px;
    right: 10px;
  }
  
  .arrow-down {
    width: 10px;
    height: 10px;
    border-width: 0 1.5px 1.5px 0;
  }
}

@media (max-aspect-ratio: 1/1) {
  .scroll-button {
    display: none;
  }
}
.contact{
  margin-top: -9rem;
}

.contact .contact-content .column{
  width: calc(50% - 30px);
}
.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p{
  text-align: justify;
}
.contact .contact-content .left .icons{
  margin: 10px 0;
}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  font-size: 25px;
  color: #ffcd42;
}
.contact .contact-content .info .head{
  color: #ffcd42;
  font-weight: 500;
}
.contact .contact-content .info .sub-title{
  color: var(--bg-secondary);
}
.contact .right form .fields{
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea{
  height: 80px;
  width: 100%;
}
.contact .right form .name{
  margin-right: 10px;
}
.contact .right form .email{
  margin-left: 10px;  
}
.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
/* .contact .right form .button{
  height: 30px;
  width: 180px;
} */
.contact .right form .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .right form .button button{
  
  width: 100%;
  height: 100%;
  border: 2px solid #ffcd42;
  background: #ffcd42;
  color: black;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right form .button button:hover{
  color: #ffcd42;
  background: none;
}
/* Media Queries */

@media screen and (max-width: 768px) {
  .contact .column.right .text {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}


/* footer section styling */
footer{
  margin-top: -5rem;
  background: #111;
  padding: 0px 30px;
  color: #fff;
  text-align: center;
}
footer span a{
  color: #ffcd42;
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}
footer p:hover{
  color: #ffcd42;
}
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
}

.contact .contact-content .column {
  flex: 0 0 calc(50% - 30px);
}

.contact .contact-content .left {
  order: 1;
}

.contact .contact-content .right {
  order: 2;
}

.ctitle
{
  margin-top: -2rem;
  font-size: 35px;
  text-align: center;
}
.cctitle
{
  font-size: 18px;
  text-align: center;
  margin-top: -1.2rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .contact .contact-content .column {
    flex: 0 0 100%;
  }
}

h3{
  color: #ffcd42;;
}